[Colors]
white=white
black=black
red=red
blue=DodgerBlue
yellow=yellow
green=SeaGreen
grey=grey60
ice=white
termhi=green1
termlo=green3

[KeyMap]
rotate_left=X
rotate_right=Z
thrust=shift_L
thrust=shift_R
brake=space
fire=return
thrust_up=bracketright
thrust_down=bracketleft
spin_up=apostrophe
spin_down=semicolon
target=T
range_up=equal
range_down=minus
scan_above=R
scan_current=G
scan_below=V
change_weapon=C
enter_shop=E
buy_fuel=F
bind_object=B
drop_mine=Tab
arm_mine=A
disarm_mine=U
detach_mine=D
mine_settings_up=period
mine_settings+down=slash
tottle_status=S
toggle_weapon_slots=W
toggle_messahes=M
toggle_hud=delete
toggle_iff=N
toggle_invisibility=I
toggle_cloak=O
toggle_anticloak=Y
toggle_minesweeper=P
leave_game=H
summon_lift=L
lift_up=up
lift_down=down
